{% extends 'homepage/base.html' %}
{% load static %}

{% block page_content %}
<!-- remove side borders -->
<div class="container-fluid">
    <div class="row">
        <div class="col" style="padding-left:0;padding-right:0">
            <div class="me-div" style="background-color:black;">
                <img src="static/img/me_with_bush.jpeg" class="img-fluid" alt="Responsive image" style="opacity:0.59;">
            <div class="bush-text-top">Hey, I'm</div>
            <div class="bush-text-bottom">Jordan Russo.</div>
            </div>
        </div>
    </div>
</div>
<br>
{% endblock %}
