{% extends 'homepage/base.html' %}
{% load static %}

{% block page_content %}
<!-- remove side borders -->

<div class="row">
    <div class="col">
        <div class="me-div">
            <img src="static/img/me.jpeg" class="img-fluid" alt="Responsive image" style="opacity:0.6;">
        </div>
    </div>
</div>
<br>

<div class="container-fluid">
    <h4 class="display-4">Hello</h4>
</div>
<!-- Move to CSS stylesheet -->
<style>
    .me-div {
      background-color: #007BFF;
    }
</style>
{% endblock %}
