.block-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
  background-color: white;
}

nav {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.navbar-brand {
  color:black;
}

.nav-link {
    color: #505050;
}

.nav-link:hover {
    color: gray;
  }

.active a {
  text-decoration: underline;
  color: #4484CE;
}
