.block-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
  background-color: white;
}

nav {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}
