.block-content {
    padding-left: 15px;
    padding-right: 15px;
}

body {
    background-color: white;
}

nav {
    border-bottom-style: solid;
    border-bottom-color: black;
    border-bottom-width: 2px;
}

.navbar-brand {
    color:black;
}

.navbar-brand:hover {
    color: black;
}

.nav-link {
    color: #303030;
}

.nav-link:hover {
    color: gray;
  }

.active > a {
    text-decoration: underline;
    color: #4484CE;
}


div.order-1 > ul > li > a {
    font-size: 17px;
}




 ul.social-icons {
    list-style-type: none;
}

.fa {
    font-size: 48px;
    text-decoration: none;
}

.fa:hover {
    color: grey;
}

.fa-linkedin-square {
    color: #0E76A8;
}

.fa-github-square {
    color: black;
}
