{% extends 'homepage/base.html' %}
{% load static %}

{% block page_content %}
<div class="px-3 pt-2">
<div class="row">
    <div class="col-md-7">
        <img src="{{ project.image.url }}" alt="" width="100%">
    </div>
    <div class="col-md-4">
        <br>
        <h2>{{ project.title }}</h2>
        <br>
        <h5>About the project:</h5>
        <p>{{ project.description }}</p>
        <br>
        <h5>Technology used:</h5>
        <p>{{ project.technology }}</p>
        <br>
        <a href="{% url 'project_list' %}" class='btn text-white' style="background:#4484CE">Back</a>
    </div>
</div>
</div>
{% endblock %}
