{% extends 'homepage/base.html' %}
{% load static %}

{% block page_content %}
<div class="px-3 pt-2">
<div class="row">
    {% for project in projects %}
        <div class="col-md-3">
            <div class="card text-grey bg-white mb-2">
                <img class="card-img-top" src="{{ project.image.url }}">
                <div class="card-body">
                    <h5 class="card-title">{{ project.title }}</h5>
                    <a href="{% url 'project_detail' project.pk %}" class='btn text-white' style="background:#4484CE">Read More</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
</div>
{% endblock %}
