{% extends 'homepage/base.html' %}
{% load static %}

{% block page_content %}
<br>
<br>
<hr style="width:45%;background-color:black">
<center>
    <p style="font-family:Merriweather; font-size:20px; width:65%;">
        <br>
        I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        <br>
        <br>
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        Here I will talk about me. Here I will talk about me.
        <br>
        <br>
    </p>
</center>
<hr style="width:45%;background-color:black">
{% endblock %}
