{% extends 'homepage/base.html' %}
{% load static %}

{% block page_content %}
<br>
<br>
<hr style="width:45%;background-color:black">
<center>
    <p style="font-family:Merriweather; font-size:20px; width:65%;">
        <br>
        I have many interests and hobbies outside of all the math and
        programming. I love to mountain bike, run, hike, and especially surf.
        Creating time for outdoor activites and staying active is very
        important to me.
        <br>
        <br>
        I also love to play music. I learned to play the guitar about seven
        years ago, and that has now grown into knowing the piano and drums too.
        I enjoy many generas of music, but my favorites have to be rock and
        jazz.
        <br>
        <br>
    </p>
</center>
<hr style="width:45%;background-color:black">
{% endblock %}
